/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      font-family: 'Lato', sans-serif; 
}
header{
    background-color:#232323 ;
    width: 100%;
}
header .branding h1{
  
    color: white;
    font-size: 2.5rem;
    text-align:center;
    margin: 0.2rem ;
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 0.01rem;
}
header .branding h1 span{
    color: #1293ee;
}
header .branding h6{
    color: white;
    margin: 20px ;
    margin-top: 0;
    font-weight: 300;
    text-align:center;
    letter-spacing: 0.05rem;
    opacity: 0.9;
}
body > header > div.navbar{
    background-color: #1293ee;
    margin-top:2rem ;
   
}
body > header > div>nav{
    margin-right: 21%;
}
body > header > div>nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    min-width: 70%;
}
body > header > div>nav>ul>li{
    padding: 1.3rem 0.5rem;
   
}
body > header > div>nav>ul>li:hover{
    background-color: #0d66a5;
}
.nav-item a {
    text-decoration: none;
    color: white;
   font-weight: 600;
    font-size: 0.6rem;
    margin: 0.5rem;
    padding:10px ;
}
.active{
    background-color: #0d66a5;
}
main>div div{
    background-color: white;
}
body > main>div > div > div{
    padding: 1.5rem;
}
body > main>div > div > div > div:nth-child(1) > h2:nth-child(4){
    color: #1293ee;
}
 main>div > div > div > div:nth-child(1) > h2:nth-child(1){
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
body > main>div > div > div > div:nth-child(1) > p{
    line-height: 1.7em;
    font-size: 0.9rem;
font-weight:600;
}
body > main>div > div > div > div:nth-child(1) > p> a{
    color:#cc00d3;
    text-decoration: underline;
    
}
body > main > div > div > div:nth-child(1) > div{
    font-size: 0.8rem;
}
main>div > div > div > div:nth-child(1) > ul.browser-list > li{
    list-style: none;
    margin: 0.5rem;
    margin-left: 0;
    font-size: 0.8rem;

}

main>div > div > div > div:nth-child(1) > ul > li::before {
    content: "\2022";  
    color: #1293ee;
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: 1px; 
  }
  main>div > div > aside > div{
      padding :1.5rem;
  }
  body > main>div > div > aside > div > h6:nth-child(3) > span{
     
    color:#1293ee;
    

  }
  body > main>div > div > aside > div > h6:nth-child(5) > a{
      color:#cc00d3;
  }
  main>div > div > aside > div:nth-child(3) > ul > li{
      list-style: none;
    
  }
  body > main>div > div > aside > div:nth-child(3) > ul > li> a{
      color: #cc00d3;
      margin:0 10px;
      font-size: 0.8em;
  }
  @media screen and (min-width:700px){
      .footer-wrap{
          margin: 0 10%;
      }
      .main-wrapper{
          display: flex;
          margin: 0;
          
      }
      .branding{
         padding-top: 2%;
      }
      body > header > div.navbar {
          margin: 0 10%;
          margin-top: 4rem;
      }
      aside{
          min-width: 30%;
      }
      header .branding h1,header .branding h6{
          text-align: left;
          margin-left: 15%;
      }
      hr{
          border: none;
      }
      
  }
  body{
      background-color:#eeeefe;
  }
  .footer-wrap .footer{
      width: 100%;
      height: 6.5rem;
      background-color: #1293ee;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
     
      
  }
  .footer-wrap .footer h6{
      color: white;
      text-align:center ;
      letter-spacing: 0.1rem;
      margin:0.1em 0;
      width: 100%;
  }
 